.active {
    color: #fff;
    background: #05d3d3 !important;
}

.topMenu {
    z-index: 20;
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: sticky;
    top: 0%;
    background: rgba(240, 245, 245, 0.1);
    margin: 0;
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    color: #fff;
    font-weight: 500;
    transition: background-color 0.1s ease-in-out;

    li {
        &:hover {
            background: #05d3d3 !important;
            color: #fff;
        }

        &:active {
            background: darken($color: #05d3d3, $amount: 5%);
        }
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    background: rgba(240, 245, 245, 0.1);
    backdrop-filter: blur(5px);
    margin-top: 20px;
    border-radius: 20px;
}

.menu {
    align-self: flex-end;
    position: sticky;
    bottom: 1%;
    right: 1%;
}