.changeMaster{
    background: linear-gradient(to right, #04dfb3, #fee588) no-repeat;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin-left: 0;
    margin-bottom: 10px;
    color: #283b63;
    font-weight: 280;
}
h3{
    font-style: italic;
    color: #283b63;
}
.changeTime{
    background: linear-gradient(to right, #f76775, #eeacf4) no-repeat;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin-left: 0;
    margin-bottom: 10px;
    color: #283b63;
    font-weight: 280;
}

li{
    cursor: pointer;
}