body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-attachment: fixed;
}

.conteiner {

    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

}

.aboutUs {
    background-image: linear-gradient(#57d2d6, #8970ef);
}